{% extends "base.html" %}

{% block title %} Perencanaan Swakelola {% endblock %}

{% block breadcrumb %}
<h3 class="page-title text-truncate text-dark font-weight-medium mb-1">{{ paket.nama_paket }}</h3>
    <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0 p-0">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/perencanaan/swakelola">Perencanaan Swakelola</a></li>
                <li class="breadcrumb-item">Detil</li>
            </ol>
        </nav>
    </div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Kode RUP</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.kd_rup}}">
                    </div>
                    <label class="col-sm-2 col-form-label">Tahun Anggaran</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.tahun_anggaran}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Nama Paket</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.nama_paket}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">Satuan Kerja</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.nama_satker}}">
                    </div>
                    <label  class="col-sm-2 col-form-label">Penyelenggara</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.nama_satker_penyelenggara}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">Instansi</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.nama_klpd}}">
                    </div>
                    <label  class="col-sm-2 col-form-label">Metode Pengadaan</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="Swakelola tipe {{paket.tipe_swakelola}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">Pagu</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.paguformat}}">
                    </div>
                    <label  class="col-sm-2 col-form-label">Nama PPK</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.nama_ppk}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">Volume</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.volume_pekerjaan}}">
                    </div>
                    <label  class="col-sm-2 col-form-label">NIP PPK</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.nip_ppk}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">Tanggal Buat</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.tanggalBuatPaket}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">Tanggal Pengumuman</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.tanggalPengumuman}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label  class="col-sm-2 col-form-label">Uraian Pekerjaan</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" value="{{paket.uraian_pekerjaan}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
