<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.bootstrap5.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.html5.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.print.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.colVis.min.js" type="text/javascript"></script>
<script src="/static/js/datatable.config.js" type="text/javascript"></script>
